YOUTUBE_PROXY=""
# YOUTUBE_RETRIES=""
OPEN_AI_API_KEY=""
OPEN_AI_BASE_URL=""
OPEN_AI_MODEL=""
LOAD_ENV="true"
RUST_LOG=youtube_summarizer_server=debug,tower_http=warn
DATABASE_URL=postgresql://localhost:5432/example?user=postgres&password=password
