YOUTUBE_PROXY=""
YOUTUBE_OUTPUT_PATH="./transcripts"
# YOUTUBE_RETRIES=""
OPEN_AI_API_KEY=""
OPEN_AI_BASE_URL=""
OPEN_AI_MODEL=""

RUST_LOG=youtube_summarizer_server=debug,tower_http=warn

AXIOM_TOKEN=""
AXIOM_DATASET="youtube-summarizer"

APPLICATION_PORT="8080"
APPLICATION_PUBLIC_DIR="public/"

# for sqlx
DATABASE_URL="postgresql://localhost:5432/example?user=postgres&password=password"
# for app code
DB_USERNAME="postgres"
DB_PASSWORD="password"
DB_PORT="5432"
DB_HOST="localhost"
DB_NAME="example"
